$max-width: 64rem;
$header-height: 5.625rem;
$primary-color: #484848;
$header-color: #292929;
$secondary-color: #01afd1;
$font-size-h1: 2rem;
$text-xs: 11px;
$text-sm: 14px;
$text-md: 16px;
$text-base: 18px;
$text-lg: 20px;
$text-xl: 24px;
$text-2xl: 28px;
$text-3xl: 32px;
