@use "../abstracts/" as *;
.header {
  position: fixed;
  display: flex;
  width: 100%;
  padding: rem(15px) rem(45px);
  background-color: $primary-color;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: white;
  z-index: 1;
}

h1{
  @include desktop{
    font-size: rem(24px);
    font-weight: 700;
  }
}

.navigation {
  @include desktop{
    &__list {
      display: flex;
      justify-content: space-between;
      gap: rem(20px);
      font-size: rem(24px);
      font-weight: 700;
    }
  }
}

.buttonWrapper{
  @include desktop{
    display: none;
  }
}
