.redbull,
.monster {
  width: 100px;
  height: 100px;
  background-size: contain;
}
.redbull {
  background-image: url("../assets/redbull.jpg");
}
.monster {
  background-image: url("../assets/monster.jpg");
}
.top3__list {
  display: flex;
  justify-content: space-evenly;
}
