@use "../abstracts/" as *;
body {
  // background-color:$primary-color
}
.main {
  padding-top: $header-height;
  .energy-drink,
  .coffee,
  .vending-machine {
    padding-top: 1.5rem;
  }
}

.recommend,
.top3,
.sale {
  @include marginAuto;
  max-width: $max-width;
  width: 100%;
  padding-top: $header-height * 2;
}
.energy-drink,
.coffee {
  &__top5 {
    display: flex;
    flex-flow: row wrap;
    li {
      width: 5rem;
      min-width: 20%;
    }
  }
}
